body .content-wrapper {
    min-height: calc(100vh - 1.5rem);
    padding-top: 0;
    transition: margin-left .3s ease-in-out;
    margin-left: 250px !important;
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: auto;
    /* align-items: center; */
}

body.sidebar-collapse .content-wrapper {
    margin-left: 80px !important;
}

@media (max-width: 991.98px) {
    body .content-wrapper {
        margin-left: 0 !important;
        border-radius: 0;
        box-shadow: none;
        width: 80%;
        margin: 0 auto;
    }
}

.content-inner {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background: #f4f6f9;
}

.content {
    padding: 0;
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}